@{
    Layout = "~/Areas/Generate/Views/Generate/Input.cshtml";
}

<div class="row">
    <div class="col-md-12 form-group">
        <label>框架 (Provider)</label>
        <input type="text" class="form-control" name="Provider" />
    </div>
    <div class="col-md-12 form-group">
        <label>模組 (Module)</label>
        <input type="text" class="form-control" name="Module" />
    </div>
    <div class="col-md-12 form-group">
        <label>檔案名稱</label>
        <input type="text" class="form-control" name="Name" placeholder="Output" />
    </div>
</div>