
<h2>Debug</h2>
<ul>
    <li><a href="@Url.Action("Exception")" target="_blank">Exception</a></li>
    <li><a href="@Url.Action("NewGuid")" target="_blank">NewGuid</a></li>
    <li><a href="@Url.Action("SqlKataQuery")" target="_blank">SqlKata.Query</a></li>
    <li><a href="@Url.Action("UserClaims")" target="_blank">UserClaims</a></li>
</ul>
